*{
    background-color: #F3FCC5;
}
html{
    text-align: center;
}

/*navigation*/
#nav{
    position: absolute;
    width: 100%;
    /*height: 46px;*/
    background-color: black;
    top: 0;
    left: 0;

}

.navTitle{
    position: relative;
    float: left;
    left: 10%;
    height: 46px;
    background-color: #f44336;
    color: #FFFFFF;
    line-height: 46px;
    padding: 0 30px;
    text-align: center;
    font-size: 16px;
    margin-left: 20px;
 }
.navLink{
    position: relative;
    float: left;
    left: 12%;
    background-color: black;
    color: #FFFFFF;
    line-height: 46px;
    padding: 0 25px;
    text-align: center;
    font-size: 16px;
    margin-left: 20px;
    /*opacity: 0.9;*/
}


a {
    text-decoration: none;
}

a:hover {
    background-color: #f44336;
    /*opacity: 0.9;*/
}
a:active{
    background-color: #f44336;
    color: #000;
}

/*gallery*/
.grid{
    width: 85%;
    left: 12%;
    vertical-align: middle;
    float: left;
    top: 80px;
}
.grid-item {
    width: 450px;
    float: left;
    border-radius: 5px;
    margin-bottom: 20px;
    border: solid #e0e0e0 1px;
}
.grid-item--width2 {
    width: 200px;
    float: left;
    border: solid #e0e0e0 1px;
    border-radius: 5px;
    padding-bottom: 1px;

}
.grid-item img, .grid-item--width2 img {
    width: 100%;
    border-radius: 5px;
    border-bottom: #e0e0e0 solid 1px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: -5px;
}
.text {
    color: grey;
    letter-spacing: 1px;
    line-height: 130%;
    background-color: #FFFFFF;
    margin-bottom: -1px;
    padding: 6px 15px 6px 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: #e0e0e0 solid 1px;
    text-align: left;
}
/*tutorial*/
#exp, #exp p, .inspireExp, #divVideo, .tutoTitle{
    background-color: white;
}
#tutoTitle1, #tutoTitle2 {
    position: relative;
    text-align: center;
    margin: 100px 10% 0 10%;
    background-color: #e0e0e0;
    height: 40px;
    line-height: 40px;
}
#tutoTitle2 {
    margin-top : 70px;
}
#divVideo{
    position: relative;
    margin: 0 10%;
    padding: 30px;
}
video{
    position: relative;
    text-align: center;

}

#exp{
    position: relative;
    float: left;
    text-align: center;
    margin: 0 10%;
    padding: 30px 3%;
}

.inspireExp{
    float: left;
    vertical-align: middle;
    padding: 0 20px;
    width: 28%;
}

.inspireExp img{
    width: 100%;
}
#inspLink{
    position: relative;
    text-align: center;
    background-color: black;
    color: #FFFFFF;
    height: 46px;
    line-height: 46px;
    padding: 10px 25px;
    font-size: 16px;
}



/*index*/
#banner{
    position: relative;
    top: 60px;
    width: 80%;
    left: 10%;
}


/*for different screen size*/
@media screen and  (max-width: 550px){
    .navTitle{
        height: 75px;
        /*width: 100%;*/
        line-height: 75px;
        font-size: 16px;
        left: 0;
        margin: 0;
        padding: 0 15px;
    }
    #navLink1{
        display: none;
    }

    .navLink{
        height: 75px;
        line-height: 75px;
        font-size: 16px;
        margin: 0;
        padding: 0 10px;
        float: left;
        left: 4%;
    }
    #navLink2{
        margin-left: 20px;
    }
    .grid{
        top: 120px;
        width: 90%;
        left: 20%;
    }
    .grid-item{
        width: 200px;
    }
    #divVideo{
        padding: 0;
    }
    video{
        width:100%;
    }
    #exp{
        padding: 0;
    }
    .inspireExp{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .inspireExp img{
         width: 200px;
     }

}
