* {
	margin: 0;
	padding: 0;
}
#waterfall {
	position: relative;
	float: right;
	width: 90%;
	/*vertical-align: middle;*/
	/*margin-right: auto;*/
	/*margin-left: auto;*/
	margin: 0 auto;
	/*top: 100px;*/

}

/*box for square pictures*/
.box {
	float:left;
	width:290px;
	height: 350px;
	border-radius: 10px;
	margin:40px 40px 0px 40px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.3);
}
.box .pic, .box .pic img{
	width:290px;
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.box .pic img{
	border-bottom: #e0e0e0 solid 1px;
}
/*box for banner pictures*/
.box_b{
	float:left;
	width:660px;
	height: 450px;
	border-radius: 10px;
	margin:40px 40px 0px 40px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.3);
}
.box_b .pic_b,.box_b .pic_b img{
	width:660px;
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.box_b .pic_b img{
	border-bottom: #e0e0e0 solid 1px;
}
/*box for long pictures*/
.box_l {
	float:left;
	width:290px;
	height: 450px;
	border-radius: 10px;
	margin:40px 40px 0px 40px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.3);
}
.box_l .pic_l, .box_l .pic_l img{
	width:290px;
	border-radius: 10px;
}

/*box for xl pictures*/
.box_xl {
	float:left;
	width:290px;
	height: 740px;
	border-radius: 10px;
	margin:40px 40px 0px 40px;

	background-color: #FFFFFF;
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.3);
}
.box_xl .pic_xl, .box_xl .pic_xl img{
	width:290px;
	border-radius: 10px;
}

/*box for flat pictures*/
.box_f {
	float:left;
	width:290px;
	height: 270px;
	border-radius: 10px;
	margin:40px 40px 0px 40px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.3);
}
.box_f .pic_f, .box_f .pic_f img{
	width:290px;
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.box_f .pic_f img{
	border-bottom: #e0e0e0 solid 1px;
}
/*box for pictures between long and square*/
.box_ls {
	float:left;
	width:290px;
	height: 350px;
	border-radius: 10px;
	margin:40px 40px 0px 40px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.3);
}
.box_ls .pic_ls, .box_ls .pic_ls img{
	width:290px;
	border-radius: 10px;
}

/*text for boxes*/
.text {
	display: inline-block;
	color: grey;
	letter-spacing: 1px;
	line-height: 130%;
	background-color: #FFFFFF;
	padding: 10px 15px 0 15px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	/*border-top: #e0e0e0 solid 1px;*/
	margin-top: -4px;
}
